{% extends "layout.html" %}

{% block body %}
  <h1>Welcome!</h1>
    <h2>Casos</h2>
    <form action="{{ url_for('casos')}}", method='post'>
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInput">Ot</label>
          <input type="text" name="ot" class="form-control mb-2" id="inlineFormInput" placeholder="Ot">
        </div>
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInput">Base</label>
          <input type="text" name="base" class="form-control mb-2" id="inlineFormInput" placeholder="Base">
        </div>
        <div class="col-7">
          <label class="sr-only" for="inlineFormInput">Descripción</label>
          <input type="text" name="caso" class="form-control mb-2" id="inlineFormInput" placeholder="Descripción">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Cargar</button>
        </div>
      </div>
    </form>

    <hr>
    <form action="{{ url_for('listar')}}", method='post'>
      <button type="submit" class="btn btn-primary mb-2">Listar todo</button>
    </form>

  <div class="link">
      <a class="btn btn-outline-primary" href="/" role="button">Logout</a>
  </div>

{% endblock %}
